<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex"/>
    <meta name="description" content="Produtos Amazon com os melhores preços, aqui você encontra: celulares, notebooks, computadores, acessórios, games, eletrônicos, roupas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/favi-icon.png" type="image/x-icon">
    <title>TudoHon Produtos</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="static/styles/slideshow.css">
    <link rel="stylesheet" href="static/styles/index.css">
</head>
<body class="flex flex-col min-h-screen bg-gray-100 text-gray-900">

    <!-- Cabeçalho com a Barra de Pesquisa -->
    <header class="bg-blue-900 text-black py-4">
        <div class="flex flex-col items-center justify-center px-4">
            <!-- Logo -->
            <div class="mb-4">
                <a href="/"><img src="static/images/logo.png" alt="Logo TudoHon" class="h-24"></a>
            </div>
            <!-- Barra de Pesquisa -->
            <form class="w-full flex justify-center" method="get" action="{{ url_for('produtos') }}">
                <input type="text" name="query" placeholder="Pesquisar..." value="{{ query }}" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 w-full max-w-xl">
                <button class="bg-yellow-500 text-black px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" type="submit">Buscar</button>
            </form>
        </div>
    </header>

    <!-- Barra de navegação -->
    <nav class="bg-blue-900">
        <ul class="flex justify-center space-x-4 text-white py-2">
            <li><a href="/produtos?query=Lift Detox" class="hover:text-orange-500">Lift Detox</a></li>
            <li><a href="/produtos?query=Crochê" class="hover:text-orange-500">Crochê</a></li>
            <li><a href="/produtos?query=Bolo Pote" class="hover:text-orange-500">Polo no Pote</a></li>
            {% if 'logged_in' in session %}
                <li><a href="{{ url_for('admin') }}" class="hover:text-orange-500">Admin</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}" class="hover:text-orange-500">Entrar</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Conteúdo Principal -->
    <main class="flex-grow p-4 text-center">
        <!-- Slideshow -->
        <div class="slideshow-container relative max-w-full mx-auto">
            <!-- Slides para desktop -->
            <div class="mySlides fade desktop-slide">
                <a href="https://app.monetizze.com.br/r/ARF24593382">
                    <img src="static/images/slides/pc/croche.jpg.png" class="w-full object-cover">
                </a>
                <a class="prev absolute top-1/2 left-0 transform -translate-y-1/2 text-white text-2xl font-bold p-2 cursor-pointer" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next absolute top-1/2 right-0 transform -translate-y-1/2 text-white text-2xl font-bold p-2 cursor-pointer" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <div class="mySlides fade desktop-slide">
                <a href="https://app.monetizze.com.br/r/ABA24593351">
                    <img src="static/images/slides/pc/gold-card.png" class="w-full object-cover">
                </a>
                <a class="prev absolute top-1/2 left-0 transform -translate-y-1/2 text-white text-2xl font-bold p-2 cursor-pointer" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next absolute top-1/2 right-0 transform -translate-y-1/2 text-white text-2xl font-bold p-2 cursor-pointer" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <div class="mySlides fade desktop-slide">
                <a href="https://app.monetizze.com.br/r/AVB19237835">
                    <img src="static/images/slides/pc/lift-detox.png" class="w-full object-cover">
                </a>
                <a class="prev absolute top-1/2 left-0 transform -translate-y-1/2 text-white text-2xl font-bold p-2 cursor-pointer" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next absolute top-1/2 right-0 transform -translate-y-1/2 text-white text-2xl font-bold p-2 cursor-pointer" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <!-- Slides para celular -->
            <div class="mySlides fade mobile-slide">
                <img src="static/images/slides/celular/teste-1.jpg" class="w-full object-cover">
                <a class="prev absolute top-1/2 left-0 transform -translate-y-1/2 text-white text-2xl font-bold p-2 cursor-pointer" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next absolute top-1/2 right-0 transform -translate-y-1/2 text-white text-2xl font-bold p-2 cursor-pointer" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <div class="mySlides fade mobile-slide">
                <img src="static/images/slides/celular/slide-ce-im-2.jpg" class="w-full object-cover">
                <a class="prev absolute top-1/2 left-0 transform -translate-y-1/2 text-white text-2xl font-bold p-2 cursor-pointer" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next absolute top-1/2 right-0 transform -translate-y-1/2 text-white text-2xl font-bold p-2 cursor-pointer" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <div class="mySlides fade mobile-slide">
                <img src="static/images/slides/celular/imagem-ce-1.png" class="w-full object-cover">
                <a class="prev absolute top-1/2 left-0 transform -translate-y-1/2 text-white text-2xl font-bold p-2 cursor-pointer" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next absolute top-1/2 right-0 transform -translate-y-1/2 text-white text-2xl font-bold p-2 cursor-pointer" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    </main>

    <!-- Rodapé fixo -->
    <footer class="bg-black text-white py-4">
        <div class="container mx-auto text-center">
            <h3 class="text-xl mb-2">Contatos</h3>
            <div class="flex justify-center space-x-4 mb-2">
                <a href="https://wa.me/63984422453?text=Olá%20vim%20do%20site%20e%20preciso%20de%20ajuda" target="_blank" class="hover:underline">WhatsApp</a>
                <a href="https://github.com/sharktank-tech" class="hover:underline">GitHub</a>
            </div>
            <p class="text-sm">&copy; 2024 TudoHon. Todos os direitos reservados.</p>
        </div>
    </footer>

    <!-- Script para o slideshow -->
    <script src="static/scripts/slideshow.js"></script>
</body>
</html>
