/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
}

.content {
    padding: 20px;
    text-align: center;
    flex: 1; /* Faz com que o conteúdo principal ocupe o espaço disponível */
}

.content h2 {
    color: #c5a402;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para o Cabeçalho */
.header {
    background-color: #0a2799;
    color: white;
    padding: 20px 0; /* Ajustado para melhor visualização */
    position: relative; /* Necessário para posicionamento absoluto dos elementos internos */
}

/* Logo */
.logo {
    position: absolute; /* Posiciona a logo à esquerda */
    left: 20px;
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
}

.logo img {
    height: 80px; /* Ajuste o tamanho da logo */
}

/* Estilos para a Barra de Pesquisa */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 500px;
    max-width: 100%;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #F9A02D;
    color: #000000;
    cursor: pointer;
}

.search-button:hover {
    background-color: #D98B24;
}

/* Estilos para os Produtos */
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: calc(25% - 40px); /* Ajusta a largura dos produtos para quatro colunas em desktops */
    box-sizing: border-box;
    text-align: center; /* Centraliza o texto e as imagens */
    height: 440px; /* Altura fixa */
    overflow: hidden; /* Garante que o conteúdo não exceda o tamanho do container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto-item img {
    max-width: 100%;
    height: 200px; /* Define uma altura fixa para todas as imagens */
    object-fit: cover; /* Mantém a proporção e cobre a área definida */
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.produto-item h3 {
    font-size: 20px;
    margin: 15px 0;
    color: #333;
}

.produto-item p {
    font-size: 16px;
    color: #666;
}

.produto-item a {
    text-decoration: none;
    color: #0a2799;
    font-weight: bold;
}

/* Estilos para o preço */
.label-price {
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.price {
    font-size: 18px;
    color: #000000; /* Estiliza o preço */
    font-weight: italic;
}

/* Estilos para a barra de navegação */
nav {
    background-color: #1F2B46;
    padding: 5px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px; /* Espaçamento padrão para desktops */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff4000;
}


/* Rodapé fixo no final da página */
.footer {
    background-color: #000000;
    color: white;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer-content a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin-top: 10px;
    font-size: 14px;
    color: #aaaaaa;
}

/* Media Query para dispositivos móveis */
@media (max-width: 600px) {

    .content h2 {
        font-size: 15px;
    }

    .produtos {
        flex-direction: column;
        align-items: center;
    }

    .produto-item {
        width: calc(100% - 20px); /* Ajusta a largura dos produtos para uma coluna em dispositivos móveis */
        height: auto; /* Ajusta a altura para permitir flexibilidade */
        margin: 10px 0;
        padding: 10px;
    }

    .produto-item img {
        height: 100px; /* Ajusta a altura das imagens para dispositivos móveis */
    }

    .search-input {
        width: 100%; /* Faz com que o campo de pesquisa ocupe toda a largura disponível em dispositivos móveis */
    }

    .header-content {
        flex-direction: column;
        align-items: center; /* Centraliza a barra de pesquisa e o logo em dispositivos móveis */
    }

    .logo {
        gap: 5px;
        margin-top: 40px; /* Espaço acima da logo */
        position: static; /* Remove o posicionamento absoluto em dispositivos móveis */
        margin-bottom: 1px; /* Espaço abaixo da logo */
    }

    .logo img {
        height: 100px; /* Ajuste o tamanho do logo para dispositivos móveis */
    }

    .footer-content {
        gap: 1px;
    }

    .footer-content a {
        font-size: 12px;
    }

    .footer-content p {
        margin-top: 1px;
        font-size: 14px;
    }

    /* Estilos para a barra de navegação */
    nav {
        background-color: #1F2B46;
        padding: 1px 0;
        font-size: 15px;
    }

    nav ul li {
        margin: 0 5px; /* Espaçamento reduzido para dispositivos móveis */
    }

    nav ul li a {
        padding: 1px;
    }
}
